<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>Blog Python</title>
        <link rel="shortcut icon" href="../static/images/Python.ico">
        <link rel="stylesheet"  href="../static/css/index.css">

    </head>

    <body text="White" background="../static/images/Python3.jpg" marginwidth="15" >
    <center><H1>ARTICULOS SOBRE PYTHON.</H1></center>
      <center> <img src="../static/images/Articulos.jpg" width="200" height="150"></center>
  <!--COMIENZO ARTICULO 1-->
       <h2><b> PORQUE APRENDER PYTHON.</b><br/></h2>
    <P>
        Python es uno de los lenguajes más demandados y de los más recomendados por varias razones, entre ellas su facilidad
        de uso y de aprendizaje. Además resulta muy útil para introducirnos en la programación y se emplea en ámbitos más allá
        del desarrollo web o de la creación de aplicaciones, como por ejemplo el machine learning y el data science.
        A continuación repasamos varios motivos por los que deberías plantearte aprender Python, seas o no programador, quieras
        o no dedicarte a la programación.<br/>
        La primera razón es obvia. Los principales elogios que se le hacen a Python hablan de sintaxis clara e intuitiva, user-friendly…
        Tiene todo para quien no ha tocado código en su vida y necesita empezar de buena forma.<br/>
    </P>
       <center><b>INICIO EN LA PROGRAMACION.</b><br/></center>
    <P>
        Es relativamente rápido de aprender. Hay quien considera que con 6 a 8 semanas, un programador medio puede aprender todo
        lo necesario para empezar con Python. También se recomienda iniciarse en programación con Python en lugar de con otros lenguajes
        como Java.<br/>
        La página oficial de Python nos da algunas pistas de qué podemos hacer con este lenguaje de programación: desarrollo web,
        desarrollo de software, administración de sistemas… En este sentido destacan librerías y frameworks como Django y Flask, que
        facilitan mucho el desarrollo de cualquier aplicación o programa empleando Python. Sus defensores hablan también de la proliferación
        de librerías para usos específicos y que se emplean en ámbitos más allá de la programación<br/>
    </P>
       <center><b>DATA SCIENCE Y MACHINE LEARNING.</b></center><br/>
    <p>
        Python y las librerías disponibles facilitan su aplicación a sectores como el data science o el machine learning. Con Python y librerías
        como Pandas, NumPy, SciPy y matplotlib es posible realizar tareas de análisis de información, obtención de datos, cleaning, refinamiento,
        generación de modelos (machine learning) y visualización de los datos obtenidos.<br/>
        La ciencia de datos o data science está muy relacionada con lo que conocemos como big data, y se aplica en la gran mayoría de sectores
        actuales, desde las finanzas a cualquier industria que puedas imaginar: automoción, aeronáutica, salud… Incluso se aplica a otros ámbitos
        como el deporte o la política.<br/>
        Por su parte, el machine learning y el deep learning son otras expresiones de moda en los últimos años y tiene que ver con el aprendizaje
        automático de máquinas o algoritmos. Relacionado con la inteligencia artificial, esta disciplina consiste en que todo el trabajo lo realice
        la propia máquina (física o virtual), incluyendo el proceso de aprendizaje y adaptación para que tome sus propias decisiones. <br/>
        Algunas de sus aplicaciones son la detección de fraude financiero, la fijación de precios o la personalización de perfiles de clientes.<br/>
    </p>
        <center><b>AUTOMATIZACION.</b></center>
    <p>
        A la facilidad de uso de Python se le añade sus características de automatización que permiten aprovechar código mediante scripts y generar
        herramientas para realizar por nosotros tareas repetitivas. Ámbitos como la gestión de bases de datos o la administración de redes o servidores
        encuentran en Python de gran ayuda para automatizar procesos con una porción de código que podemos escribir en unos minutos.<br/>
    </p>







  <!--FIN ARTICULO 1-->
             <center>
                          <b> <a href="http://localhost:5000/">Click aqui para ir al Homepage</a></b>
             </center>


    </body>
</html>