<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>Blog Python</title>
        <link rel="shortcut icon" href="../static/images/Python.ico">
        <link rel="stylesheet"  href="../static/css/index.css">
    </head>
<body text="White" background="../static/images/Python3.jpg" ><center><h1>CONTACTO:</h1></center>
       <center> <img src="../static/images/correo.jpg" width="100" height="80"></center>
    <form action="mailto:cmachuca32@gmail.com" method="post" enctype="text/plain">
        <center>
        Escribe tu nombre:
        <br/>
            <br/>
        <input type="text" name="nombre">
        <br/>
             <br/>
        Escribe tu comentario:
        <br/>
             <br/>
        <textarea name="comentario" rows="20" cols="70"></textarea>
            <br/>
            <input type="submit" name="submit" value="Enviar">
            <input type="reset" name="submit" value="Borrar">
        </center>
    </form>
         <br/>
    <center>
         <a href="http://localhost:5000/">Click aqui para ir al Homepage</a>
    </center>


</body>
</html>