<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>Blog Python</title>

        <link rel="stylesheet"  href="../static/css/index.css">

    </head>
    <body text="White" background="../static/images/Python3.jpg" >
                <center><H1>CURSOS RECOMENDADOS:</H1></center>
            <nav>
                <ul>
<!--curso de python--><li><h2>Python:</h2></li>
                    <p>
                          <img src="../static/images/CursoPython.png" hspace="15" vspace="0" style="float:left;" width="100">

                        <left>
                            Es un lenguaje de programación versátil multiplataforma y multiparadigma que se destaca por su código
                            legible y limpio.Una de las razones de su éxito es que cuenta con una licencia de código abierto que
                            permite su utilización en cualquier escenario. Esto hace que sea uno de los lenguajes de iniciación de
                            muchos programadores siendo impartido en escuelas y universidades de todo el mundo. Sumado a esto cuenta
                            con grandes compañías que hacen de este un uso intensivo.<br/>
                            En el siguiente link tenes acceso a un excelente Curso en videos de Python desde Basico a Avanzado: <br/>
                           <b> <a href="https://www.youtube.com/watch?v=G2FCfQj-9ig&list=PLU8oAlHdN5BlvPxziopYZRd55pdqFwkeS">Curso gratis de Python.</a></b>
                        </left>
                    </p>

                    <img src="../static/images/CursosLateral.png" hspace="15" vspace="0" style="float:right;" width="250" height="300">
 <!--CURSO DE FLASK--><li><h2>Flask:</h2></li>
                    <p>
                         <img src="../static/images/CursoFlask.jpg" hspace="15" vspace="0" style="float:left;" width="200">
                        <left>
                            Flask es un framework que permite desarrollar aplicaciones web de forma sencilla, está especialmente guiado
                            para desarrollo web fácil y rápido con Python. Una de sus características a destacar es el potencial de instalar
                            extensiones o complementos acorde al tipo de proyecto que desarrollarás. Sólo instalas las funcionalidades que
                            en realidad vayas a utilizar.<br/>
                            En el siguiente link tenes acceso a un excelente Curso en videos de Flask desde Basico a Avanzado y conexion a SQL: <br/>
                           <b> <a href="https://www.youtube.com/watch?v=Rd2B9o2fitY&list=PLBO4apWPK7b7K6c-jpEI0zflZYDjVp7cd&index=4">Curso gratis de Flask.</a></b>
                        </left>

                    </p>
                    <br/><br/>
<!--CURSO DE DJANGO--><li><h2>Django:</h2></li>
                    <p>
                         <img src="../static/images/CursoDjango.jpg" hspace="15" vspace="0" style="float:left;" width="200">
                        <left>
                            es un framework de aplicaciones web gratuito y de código abierto (open source) escrito en Python. Un framework web
                            es un conjunto de componentes que te ayudan a desarrollar sitios web más fácil y rápidamente.<br/>

                            Cuando construyes un sitio web, siempre necesitas un conjunto de componentes similares: una manera de manejar la
                            autenticación de usuarios (registrarse, iniciar sesión, cerrar sesión), un panel de administración para tu sitio web,
                            formularios, una forma de subir archivos, etc.<br/>
                            En el siguiente link tenes acceso a un excelente Curso en videos de Django desde Basico a Avanzado.: <br/>
                           <b> <a href="https://www.youtube.com/watch?v=xJseXY2sup8&list=PLpOqH6AE0tNgL7Jg9Kx4SdfA5_oK6292j">Curso gratis de Django.</a></b>
                        </left>
                            <br/>
                        <center>
                          <b> <a href="http://localhost:5000/">Click aqui para ir al Homepage</a></b>
                        </center>
                    </p>
                </ul>

            </nav>



    </body>
</html>