<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>Blog Python</title>

        <link rel="stylesheet"  href="../static/css/index.css">
    </head>
<body text="white" background="../static/images/Python3.jpg" >

        <center>
                <h1>
                    ERROR (403):<br><br/>

                                Ud. no esta Autorizado al acceso.
                </h1><br><br/>

            <a href="http://localhost:5000/">Click aqui para ir al Homepage</a>

        </center>



</body>
</html>